# Ignore everything
*

# Allow traversal
!v0/
!v0/k8s/
!v0/sandbox/
!v0/sandbox/router/
!v0/sandbox/server/
!v0/sandbox/template/

# Include all contents
!v0/k8s/**
!v0/sandbox/router/**
!v0/sandbox/server/**
!v0/sandbox/template/**

# Keep markdown/drawing files
!*.md
!*.excalidraw