# Ignore everything
*

# Allow traversal into required directories
!kodr-3/
!kodr-3/v0/k8s/
!kodr-3/v0/sandbox/
!kodr-3/v0/sandbox/router/
!kodr-3/v0/sandbox/server/
!kodr-3/v0/sandbox/template/

# Include everything inside these folders
!kodr-3/v0/k8s/**
!kodr-3/v0/sandbox/router/**
!kodr-3/v0/sandbox/server/**
!kodr-3/v0/sandbox/template/**

# Keep docs/drawings anywhere
!*.md
!*.excalidraw